<html>
    <head>
        <title>Contact Page</title>
    </head>
    <body>
            <%- include('header'); -%> 
        Contact Page
        <form method="POST"  action="/contact">
            Name:-<input type="text" name="tb1"><br>
            Surname:-<input type="text" name="tb2">
            <input type="submit" name="Submit" value="Submit">
        </form>
    </body>
</html>